@model IEnumerable<Entities.Contact>

@{
    var aaa = Model;
    //ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HomePhone)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomePhone)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@

<table class="table table-striped table-valign-middle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomePhone)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/lib/dist/img/default-150x150.png" alt="Product 1" class="img-circle img-size-32 mr-2">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomePhone)
                </td>
                <td>
                    <a href="#" class="text-muted">
                        <i class="fa fa-search"></i>
                    </a>
                </td>
                <td>
                    <a class="fa-edit" asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">جزئیات</a> |
                    <a class="fa-recycle" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                </td>
            </tr>
        }

    </tbody>
</table>
